
@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
    /* phones */
}

@media (min-width:320px)  {
  

.navbar {
    width: 100%;
    margin: 0 auto;
    height: 40px;
    font-size: medium;
    background-color: #152c73;
    color: white;
    }
}