.container {
    background-color: #fff;
    position: relative;
    z-index: 3;
    width: 100vw;
    padding: 16px 0;
}

.logo {
    position: relative;
    left:10px;
    height: 80px;
    width: 80px;
}

.logo img {
    height: 80px;
}
