@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    .container {
        background-color: #fff;
        position: relative;
        z-index: 3;
        width: 100vw;
        padding: 16px 0;
        text-align: center;
    }
    .logo img {
        /* position: relative; */
        left: 10px;
        height: 80px;
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .container {
        background-color: #fff;
        position: relative;
        z-index: 3;
        width: 100vw;
        padding: 16px 0;
    }
    .logo {
        position: relative;
        left: 10px;
    }
    .logo img {
        height: 80px;
        width: 90vw;
    }
}